* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Koulen', cursive;
}

/*estilo general del sitio marcado la clase "contenedor"*/
.contenedor {
    padding: 20px;
    width: 90%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

/*estilo de header que se respetara en todas las paginas del sitio*/
.header {
    width: 100%;
    height: 150px;
    color: black;
    text-align: center;
    background-color: grey;
}

.header-titulo {
    text-align: center;
    font-size: 50px;
}

nav {
    text-align: center;
}

nav>a {
    color: #000;
    font-weight: 300;
    margin-right: 10px;
    text-decoration: none;
}

nav>a:hover {
    text-decoration: underline;
}

/*comenzo de aplicacion de estilos a los diferentes sections del index*/
.imagen-principal {
    width: 100%;
    text-align: center;
}

.texto-imagen {
    text-align: center;
    font-size: 30px;
}

.contenedor-multimedia {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cobain {
    text-align: center;
    font-size: 50px;
}

.autor {
    text-align: center;
    font-size: 30px;
}

.autor-nacion {
    text-align: center;
    font-size: 25px;
}

.footer-css {
    display: flex;
    justify-content: space-around;
}

.footer-css a {
    color: #000;
    text-decoration: none;
    font-size: 25px;
}

/*edicion de estilo para "instrumentos" y aplicacion de cards*/
.division {
    text-align: center;
    font-size: 40px;
}

.cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    margin: 20px;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    background: var(--i);
    background-size: cover;
}

.cards-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: .5s;
}

.cards-content h2,
a {
    color: rgba(255, 255, 255, 0.8);
}

/*efecto hover para las cards*/
.cards:hover .cards-content {
    opacity: 1;
}

/*edicion de estilos para "nosotros"*/
.nosotros {
    background: url(../imagenes/nosotros-texto.jpg);
    background-position: center;
}

.texto-nosotros {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-size: 40px;
    color: whitesmoke;
}

.form-label {
    color: wheat;
}

@media (max-with: 500px) {
    .header {
        flex-direction: column;
    }

    .header-nav {
        flex-direction: column;
    }

    .contenedor-multimedia {
        padding-left: 0px;
        max-width: 450px;
        flex-direction: column;
        overflow: hidden;
    }

    .texto-imagen {
        font-size: 20px;
    }

    .review {
        width: 490px;
    }

    .imagen-principal {
        padding-left: 0px;
        width: 450px;
        max-width: 450px;
        flex-direction: column;
        overflow: hidden;
    }

    .contenedor {
        flex-direction: column;
        max-width: 500px;
        overflow: hidden;
    }

    .contenedor-multimedia {
        flex-direction: column;
    }

    .cards-container {
        flex-wrap: wrap;
    }
}